StableLM-3B-4E1T-Tokenization-Flow.json
[
    {
        "id": "4b48f7dae69eb174",
        "type": "comment",
        "z": "706bdd3f3f20c07c",
        "name": "StableLM-3B-4E1T Tokenization",
        "info": "",
        "x": 150,
        "y": 380,
        "wires": []
    },
    {
        "id": "16b419295c964fa5",
        "type": "http in",
        "z": "706bdd3f3f20c07c",
        "name": "[get] /stablelm-tokenization",
        "url": "/stablelm-tokenization",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "eb17f37faae8700d"
            ]
        ]
    },
    {
        "id": "5f40be3d2f87e296",
        "type": "function",
        "z": "706bdd3f3f20c07c",
        "name": "StableLM Tokenization",
        "func": "(async () => {\n  let Prompt = (msg.payload || '').trim()\n  if (Prompt === '') {\n    msg.payload = 'empty or missing prompt'\n    node.send([null,msg])\n    node.done()\n    return\n  }\n\n/**** retrieve settings or provide defaults ****/\n\n  let Threads = parseInt(msg.threads,10)\n  if (isNaN(Threads)) { Threads = 4 }\n    Threads = Math.max(1,Threads)\n    Threads = Math.min(Threads,Math.max(1,os.cpus().length))\n\n  let ContextLength = parseInt(msg.context,10)\n  if (isNaN(ContextLength)) { ContextLength = 512 }\n    ContextLength = Math.max(0,Math.min(ContextLength,4096))\n\n  Prompt = Prompt.replace(/\"/g,'\\\\\"')\n\n/**** retrieve UserDir - crash if not a folder ****/\n\n  let UserDir = global.get('UserDir')\n  if (UserDir == null) { UserDir = process.env.HOME + '/.node-red' }\n\n  if (! fs.statSync(UserDir).isDirectory()) {\n    const ErrorMessage = (\n      'the given \"UserDir\" (\"' + UserDir + '\") is either missing or ' +\n      'not a folder - exiting'\n    )\n    node.error(ErrorMessage)\n    throw new Error(ErrorMessage)\n  }\n\n/**** combine all these settings into a command ****/\n\n  let Command = ( 'cd \"' + UserDir + '\" && ' +\n    './llama-tokens --model ./stablelm-3b-4e1t-Q8_0.bin --mlock ' +\n    ' --ctx_size ' + ContextLength +\n    ' --threads ' + Threads +\n    ' --prompt \"' + Prompt + '\"'\n  )\n\n/**** extract actual reponse from command output ****/\n\n  function ResponseFrom (Text) {\n    let HeaderLength = Text.indexOf('system_info')\n    Text = Text.slice(HeaderLength + 1)\n      .replace(/^[^\\n]*\\n/,'')\n\n    let TrailerIndex = Text.indexOf('\\n\\nllama_print_timings')\n    Text = Text.slice(0,TrailerIndex)\n\n    return Text\n  }\n\n/**** now tokenize the given prompt ****/\n\n  let { stdout,stderr, StatusCode,Signal } = child_process.spawnSync(\n    'bash', [], { input:Command }\n  )\n\n  const $stdout = stdout.toString().trim()\n  const $stderr = stderr.toString().trim()\n\n  switch (true) {\n    case (StatusCode == null):\n    case (StatusCode === 0):\n      msg.statusCode = ($stdout === '' ? 204 : 200)\n      msg.payload    = ResponseFrom($stdout)\n      break\n    default:\n      msg.statusCode = 500 + StatusCode\n      msg.payload    = ($stdout === '' ? '' : '>>>> stdout >>>>\\n' + $stdout + '\\n') +\n                       '>>>> stderr >>>>\\n' + $stderr +\n                       (Signal == null ? '' : '\\n' + Signal)\n      break\n  }\n\n  node.send([msg,null])\n  node.done()\n})()\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "os",
                "module": "os"
            },
            {
                "var": "child_process",
                "module": "child_process"
            },
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "f82c27b884788eaf",
                "9a1ff75964be917c"
            ],
            [
                "efdb773974966d90"
            ]
        ]
    },
    {
        "id": "3cb84a34cc7a9757",
        "type": "debug",
        "z": "706bdd3f3f20c07c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Prompt: \"' & msg.payload & '\"'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 560,
        "wires": []
    },
    {
        "id": "af159836912ee028",
        "type": "http response",
        "z": "706bdd3f3f20c07c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "efdb773974966d90",
        "type": "change",
        "z": "706bdd3f3f20c07c",
        "name": "400",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "400",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "af159836912ee028"
            ]
        ]
    },
    {
        "id": "f82c27b884788eaf",
        "type": "change",
        "z": "706bdd3f3f20c07c",
        "name": "200",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 500,
        "wires": [
            [
                "af159836912ee028"
            ]
        ]
    },
    {
        "id": "9a1ff75964be917c",
        "type": "debug",
        "z": "706bdd3f3f20c07c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Response: \"' & msg.payload & '\"'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 580,
        "wires": []
    },
    {
        "id": "31bed00a3d885134",
        "type": "comment",
        "z": "706bdd3f3f20c07c",
        "name": "cwd = server installation folder",
        "info": "",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "eb17f37faae8700d",
        "type": "change",
        "z": "706bdd3f3f20c07c",
        "name": "parse query",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.query.prompt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "threads",
                "pt": "msg",
                "to": "req.query.threads",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "model",
                "pt": "msg",
                "to": "req.query.model",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "msg",
                "to": "req.query.context",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "3cb84a34cc7a9757",
                "5f40be3d2f87e296"
            ]
        ]
    }
]