StableLM-3B-4E1T-Embeddings-Flow.json
[
    {
        "id": "bc8cb3c74b7802cd",
        "type": "comment",
        "z": "706bdd3f3f20c07c",
        "name": "StableLM-3B-4E1T Embeddings",
        "info": "",
        "x": 150,
        "y": 640,
        "wires": []
    },
    {
        "id": "5d5374d8b84ef9f8",
        "type": "http in",
        "z": "706bdd3f3f20c07c",
        "name": "[get] /stablelm-embeddings",
        "url": "/stablelm-embeddings",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "a64ddff7702c3a1d"
            ]
        ]
    },
    {
        "id": "e9926d8261e7b7a7",
        "type": "function",
        "z": "706bdd3f3f20c07c",
        "name": "StableLM Embeddings",
        "func": "(async () => {\n  let Prompt = (msg.payload || '').trim()\n  if (Prompt === '') {\n    msg.payload = 'empty or missing prompt'\n    node.send([null, msg])\n    node.done()\n    return\n  }\n\n  /**** retrieve settings or provide defaults ****/\n\n  let Seed = parseInt(msg.seed, 10)\n  if (isNaN(Seed)) { Seed = -1 }\n\n  let Threads = parseInt(msg.threads, 10)\n  if (isNaN(Threads)) { Threads = 4 }\n  Threads = Math.max(1, Threads)\n  Threads = Math.min(Threads, Math.max(1, os.cpus().length))\n\n  let ContextLength = parseInt(msg.context, 10)\n  if (isNaN(ContextLength)) { ContextLength = 512 }\n  ContextLength = Math.max(0, Math.min(ContextLength, 2048))\n\n  Prompt = Prompt.replace(/\"/g, '\\\\\"')\n\n  /**** retrieve UserDir - crash if not a folder ****/\n\n  let UserDir = global.get('UserDir')\n  if (UserDir == null) { UserDir = process.env.HOME + '/.node-red' }\n\n  if (!fs.statSync(UserDir).isDirectory()) {\n    const ErrorMessage = (\n      'the given \"UserDir\" (\"' + UserDir + '\") is either missing or ' +\n      'not a folder - exiting'\n    )\n    node.error(ErrorMessage)\n    throw new Error(ErrorMessage)\n  }\n\n  /**** combine all these settings into a command ****/\n\n  let Command = ('cd \"' + UserDir + '\" && ' +\n    './llama-embeddings --model ./stablelm-3b-4e1t-Q8_0.bin --mlock ' +\n    ' --ctx_size ' + ContextLength +\n    ' --threads ' + Threads +\n    ' --seed ' + Seed +\n    ' --prompt \"' + Prompt + '\"'\n  )\n\n  /**** extract actual reponse from command output ****/\n\n  function ResponseFrom(Text) {\n    let HeaderLength = Text.indexOf('system_info')\n    Text = Text.slice(HeaderLength + 1)\n      .replace(/^[^\\n]*\\n/, '')\n\n    let TrailerIndex = Text.indexOf('\\n\\nllama_print_timings')\n    Text = Text.slice(0, TrailerIndex)\n\n    return Text\n  }\n\n  /**** now calculate embeddings for the given prompt ****/\n\n  let { stdout, stderr, StatusCode, Signal } = child_process.spawnSync(\n    'bash', [], { input: Command }\n  )\n\n  const $stdout = stdout.toString().trim()\n  const $stderr = stderr.toString().trim()\n\n  switch (true) {\n    case (StatusCode == null):\n    case (StatusCode === 0):\n      msg.statusCode = ($stdout === '' ? 204 : 200)\n      msg.payload = ResponseFrom($stdout)\n      break\n    default:\n      msg.statusCode = 500 + StatusCode\n      msg.payload = ($stdout === '' ? '' : '>>>> stdout >>>>\\n' + $stdout + '\\n') +\n        '>>>> stderr >>>>\\n' + $stderr +\n        (Signal == null ? '' : '\\n' + Signal)\n      break\n  }\n\n  node.send([msg, null])\n  node.done()\n})()\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "os",
                "module": "os"
            },
            {
                "var": "child_process",
                "module": "child_process"
            },
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 320,
        "y": 760,
        "wires": [
            [
                "7fcd33232b3a8ec4",
                "22a926c80103104a"
            ],
            [
                "86df9a27617d3817"
            ]
        ]
    },
    {
        "id": "d536cdbe5c96efac",
        "type": "debug",
        "z": "706bdd3f3f20c07c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Prompt: \"' & msg.payload & '\"'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 820,
        "wires": []
    },
    {
        "id": "609e6ffca5d92f41",
        "type": "http response",
        "z": "706bdd3f3f20c07c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "86df9a27617d3817",
        "type": "change",
        "z": "706bdd3f3f20c07c",
        "name": "400",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "400",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 800,
        "wires": [
            [
                "609e6ffca5d92f41"
            ]
        ]
    },
    {
        "id": "7fcd33232b3a8ec4",
        "type": "change",
        "z": "706bdd3f3f20c07c",
        "name": "200",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 760,
        "wires": [
            [
                "609e6ffca5d92f41"
            ]
        ]
    },
    {
        "id": "22a926c80103104a",
        "type": "debug",
        "z": "706bdd3f3f20c07c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Response: \"' & msg.payload & '\"'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 840,
        "wires": []
    },
    {
        "id": "a64ddff7702c3a1d",
        "type": "change",
        "z": "706bdd3f3f20c07c",
        "name": "parse query",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.query.prompt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "seed",
                "pt": "msg",
                "to": "req.query.seed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "threads",
                "pt": "msg",
                "to": "req.query.threads",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "model",
                "pt": "msg",
                "to": "req.query.model",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "msg",
                "to": "req.query.context",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 760,
        "wires": [
            [
                "d536cdbe5c96efac",
                "e9926d8261e7b7a7"
            ]
        ]
    },
    {
        "id": "687e12bfcb8df501",
        "type": "comment",
        "z": "706bdd3f3f20c07c",
        "name": "cwd = UserDir",
        "info": "",
        "x": 510,
        "y": 640,
        "wires": []
    }
]